@page "/Connection_Search"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using System.Text.Json
@using Supabase
@using Supabase.Postgrest.Attributes
@using Supabase.Postgrest.Models
@using System.Diagnostics
@using Microsoft.Data.SqlClient

@inject NavigationManager NavigationManager
@inject SupabaseService Supabase
<h3>Search Users</h3>
<select @bind="queryColumn">
    @foreach (var option in options)
    {
        <option value="@option">@option</option>
    }
</select>
<input @bind="searchTerm" placeholder="Enter search term" />
<button @onclick="SearchUsers">Search</button>
@if (items != null && items.Any())
{
    <ul>
        @foreach (var result in items)
        {
            <li>@result.First - @result.Last - @result.Major-@result.GradYear-@result.Company-@result.City</li>
        }
    </ul>
}

else

{
    <p>No results found.</p>
}


@code {

    private string queryColumn = "First";
    private string[] options = ["First", "Last", "GradYear", "City", "Major", "Company"];
    private Item[] items;
    private string searchTerm = string.Empty;

    protected override async Task OnInitializedAsync()
    {

    }
    protected async Task SearchUsers()
    {
        items = await Supabase.GetData<Item>(searchTerm,queryColumn);
    }
    public class Item
    {
        public int Id { get; set; }
        public string First { get; set; }
        public string Last { get; set; }
        public string GradYear { get;set;}
        public string City { get; set; }
        public string Major { get; set; }
        public string Company { get; set; }
        public int[] ConnectionList{ get; set; } 

    }
}



